<div class="w-[16rem] h-screen
flex flex-col justify-center items-center">
    <a href="/">
        <img src="/images/pomo-logo.png" alt="logo" class="w-full">
    </a>
    <h2 class="text-xl text-gray-300 my-4">Login</h2>

    <% if (messages.error) { %>
        <%= messages.error %>
    <% } %>

    <form action="" method="POST"
          class="w-full bg-white text-black px-4 py-2 rounded-md mt-4">
        <label for="email"
               class="text-gray-400 uppercase text-xs">Email </label>
        <input type="email" id="email" name="email" required placeholder="example@mail.com" value="<%= body.email %>"
            class="w-full bg-gray-300 indent-1 p-1  focus:outline-none mb-4 rounded">

        <label for="password"
               class="text-gray-400 uppercase text-xs">Password </label>
        <input type="password" id="password" required name="password" value="<%= body.password %>"
            class="w-full bg-gray-300 indent-1 p-1 focus:outline-none rounded mb-4">

        <button class="w-full text-center bg-gray-600 hover:bg-black
        rounded text-white py-2 mb-4">Log in with Email</button>
    </form>
    
    <p class="text-gray-200 mt-4 mb-2">Do not have an account?</p>
    <a href="./signup" class="text-sm underline hover:brightness-105">Create account</a>
</div>



